.feedback {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feedback__btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  transition-property: transform;
  transition-duration: 250ms;
}

.feedback__btn:hover {
  transform: scale(1.2);
  background-color: rgb(191, 221, 247);
}
